language: java
jdk: 
  - openjdk12
script:
  - ./gradlew build --info
deploy:
  provider: heroku
  api_key: $API_KEY
  app:
    master: jalp-staging
    production: jalp-production
after_success:
  # Manual upload of coverage report, see https://github.com/kt3k/coveralls-gradle-plugin/issues/85
  - ./gradlew jacocoRootReport coveralls
  - curl -F 'json_file=@build/coveralls/report.json' 'https://coveralls.io/api/v1/jobs'